body{
background-color:chartreuse;
}
.cal{
background-color:yellow;
border-radius:200px;
width:50%;
word-spacing:10px;
padding-top:10px;
padding-bottom:25px;
font-weight:bold;
position:relative
left:30px;
}
h1{
text-align:center;
}
#num1{
text-align:center;
}
#num2{
text-align:center;
}

